*{
    padding:0;
    margin:0
}
body{
    background-color: rgb(234, 244, 253)
}
.main{
    display:flex;
    height: 100vh;
    background-color: rgb(234, 244, 253)
}
.container{
    margin: auto;
    height: 60%;
    width: 50%;
    text-align: center;

}
.review{
    background-color: white;
    height: auto;
    margin: 8%;
    border-radius: 7px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.178), -1px -1px 7px rgba(0, 0, 0, 0.178)
}
#person-img{
     border-radius: 70px;
     margin: 3% 0 2% 0;
    box-shadow: 5px -3px 4px grey;
}
#author{
    /* font-family: 'Maven Pro', sans-serif; */
    /* font-family: 'Unica One', cursive; */
    font-family: 'Gruppo', cursive;
}
#info{
    padding: 10px 20px;
    font-size: 90%;
    font-family: 'Maven Pro', sans-serif;
}
#job{
    font-size: 90%;
    font-family: 'Maven Pro', sans-serif;
    color: rgb(146, 127, 255)
    
}
.okay{
    display: flex;
}
.button-container{
    /* display: flex; */
    /* text-align: center */
    margin: 1% auto
    
}
.prev-btn{
    text-align: center;
    color:rgb(146, 127, 255);
    font-size: 20px;
    margin: 0 10px;
}
button {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
  }
  
  button:hover {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 1px 1px 5px  grey;
  }
  
  button:active {
    outline: none;
    border: none;
  }
  
  button:focus {
    outline: 0;
  }
.underline{
    width: 10%;
    border-bottom: solid rgb(146, 127, 255) 3px;
    margin: auto;
    margin-top: 10px;
   
    
}
.title{
    /* font-family: 'Cormorant Infant', serif; */
    /* font-family: 'ZCOOL XiaoWei', serif; */
    font-family: 'Gabriela', serif
}
.random-btn{
    border: solid 2px rgb(146, 127, 255);
    border-radius: 40px;
    padding :4px;
    margin-bottom: 10px
}
.random-btn:hover {
    background: transparent;
    box-shadow: 1px 1px 5px  grey;;
    border: 0px solid transparent;
    text-shadow: 
  }
  @media(max-width: 600px) {
    .container{
        margin: auto;
        height: 90%;
        width: 90%;
        text-align: center;
    
    }
  }
